{% extends "parent/base.html" %}
{% load static %}
{% block title %}معرفی دوره بیزنس لب{% endblock title %}

{% block content %}


<div id="main-wrapper" class="main-wrapper">
    <div class="edu-breadcrumb-area breadcrumb-style-6">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="edu-breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                    <li class="separator"><i class="icon-angle-left"></i></li>
                    <li class="breadcrumb-item"><a href="course-one.html">دوره‌ها</a></li>
                    <li class="separator"><i class="icon-angle-left"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">جزئیات دوره</li>
                </ul>
                <div class="page-title">
                    <h2 class="title">نشست پاییزی آموزش جهانی برای همه</h2>
                </div>
                <ul class="course-meta">
                    <li><i class="icon-58"></i>توسط ادوارد نورتون</li>
                </ul>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1">
                <span></span>
            </li>
            <li class="shape-2 scene"><img data-depth="2" src="assets/images/others/shape-79.png" alt="shape"></li>
            <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
            <li class="shape-4">
                <span></span>
            </li>
            <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
        </ul>
    </div>

    <!--=====================================-->
    <!--=	 Courses Details Area Start	=-->
    <!--=====================================-->
    <section class="edu-section-gap course-details-area">
        <div class="container">
            <div class="row row--30">
                <div class="col-lg-8">
                    <div class="course-details-content course course-details-4">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" href="#overview-tab-id">نمای کلی</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#carriculam-tab-id">برنامه درسی</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#instructor-tab-id">مربی</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#review-tab-id">نظرات</a>
                            </li>
                        </ul>

                        <div class="course-content-wrapper">
                            <div class="tab-pane" id="overview-tab-id">
                                <div class="course-tab-content">
                                    <div class="course-overview">
                                        <h3 class="heading-title">توضیحات دوره</h3>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="carriculam-tab-id">
                                <div class="course-tab-content">
                                    <div class="course-curriculam">
                                        <h3 class="heading-title">برنامه درسی دوره</h3>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <div class="course-lesson">
                                            <h5 class="title">هفته 1-4</h5>
                                            <p>تکنیک داستان گویی پیشرفته برای نویسندگان: شخصیت ها، شخصیت ها و توطئه ها</p>
                                            <ul>
                                                <li>
                                                    <div class="text"><i class="icon-65"></i> معرفی</div>
                                                    <div class="icon"><i class="icon-68"></i></div>
                                                </li>
                                                <li>
                                                    <div class="text"><i class="icon-65"></i> نمای کلی دوره</div>
                                                    <div class="icon"><i class="icon-68"></i></div>
                                                </li>
                                                <li>
                                                    <div class="text"><i class="icon-65"></i> ابزارهای محیطی توسعه محلی</div>
                                                    <div class="badge-list">
                                                        <span class="badge badge-primary">0 سوال</span>
                                                        <span class="badge badge-secondary">10 دقیقه</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="text"><i class="icon-65"></i> تمرین درس / فایل های مرجع</div>
                                                    <div class="icon"><i class="icon-68"></i></div>
                                                </li>
                                                <li>
                                                    <div class="text"><i class="icon-65"></i> نصب ویرایشگر کد (اختیاری در صورت داشتن)</div>
                                                    <div class="icon"><i class="icon-68"></i></div>
                                                </li>
                                                <li>
                                                    <div class="text"><i class="icon-65"></i> تعبیه PHP در HTML</div>
                                                    <div class="icon"><i class="icon-68"></i></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <div class="course-tab-content" id="instructor-tab-id">
                                    <div class="course-instructor">
                                        <div class="thumbnail">
                                            <img src="assets/images/course/author-01.png" alt="Author Images">
                                        </div>
                                        <div class="author-content">
                                            <h6 class="title">ادوارد نورتون</h6>
                                            <span class="subtitle">مالک و مدیرعامل</span>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <div class="course-tab-content">
                                    <div class="course-review" id="review-tab-id">
                                        <h3 class="heading-title">امتیاز دوره</h3>
                                        <p>5.00 میانگین امتیاز بر اساس رتبه 7</p>
                                        <div class="row g-0 align-items-center">
                                            <div class="col-sm-4">
                                                <div class="rating-box">
                                                    <div class="rating-number">5.0</div>
                                                    <div class="rating">
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                    </div>
                                                    <span>(7 نظر)</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="review-wrapper">

                                                    <div class="single-progress-bar">
                                                        <div class="rating-text">
                                                            5 <i class="icon-23"></i>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="rating-value">7</span>
                                                    </div>

                                                    <div class="single-progress-bar">
                                                        <div class="rating-text">
                                                            4 <i class="icon-23"></i>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="rating-value">0</span>
                                                    </div>

                                                    <div class="single-progress-bar">
                                                        <div class="rating-text">
                                                            4 <i class="icon-23"></i>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="rating-value">0</span>
                                                    </div>

                                                    <div class="single-progress-bar">
                                                        <div class="rating-text">
                                                            4 <i class="icon-23"></i>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="rating-value">0</span>
                                                    </div>

                                                    <div class="single-progress-bar">
                                                        <div class="rating-text">
                                                            4 <i class="icon-23"></i>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="rating-value">0</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- Start Comment Area  -->
                                        <div class="comment-area">
                                            <h3 class="heading-title">نظرات</h3>
                                            <div class="comment-list-wrapper">
                                                <!-- Start Single Comment  -->
                                                <div class="comment">
                                                    <div class="thumbnail">
                                                        <img src="assets/images/blog/comment-01.jpg" alt="Comment Images">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="rating">
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                        </div>
                                                        <h5 class="title">هیلی بنت</h5>
                                                        <span class="date">23 شهریور</span>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                                    </div>
                                                </div>
                                                <!-- End Single Comment  -->
                                                <!-- Start Single Comment  -->
                                                <div class="comment">
                                                    <div class="thumbnail">
                                                        <img src="assets/images/blog/comment-02.jpg" alt="Comment Images">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="rating">
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                        </div>
                                                        <h5 class="title">سایمون بیکر</h5>
                                                        <span class="date">23 شهریور</span>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                                    </div>
                                                </div>
                                                <!-- End Single Comment  -->
                                                <!-- Start Single Comment  -->
                                                <div class="comment">
                                                    <div class="thumbnail">
                                                        <img src="assets/images/blog/comment-03.jpg" alt="Comment Images">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="rating">
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                        </div>
                                                        <h6 class="title">ریچارد گیر</h6>
                                                        <span class="date">23 شهریور</span>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                                    </div>
                                                </div>
                                                <!-- End Single Comment  -->
                                            </div>
                                        </div>
                                        <!-- End Comment Area  -->
                                        <div class="comment-form-area">
                                            <h3 class="heading-title">یک نظر بنویسید</h3>
                                            <div class="rating-icon">
                                                <h6 class="title">امتیاز در اینجا</h6>
                                                <div class="rating">
                                                    <i class="icon-23"></i>
                                                    <i class="icon-23"></i>
                                                    <i class="icon-23"></i>
                                                    <i class="icon-23"></i>
                                                    <i class="icon-23"></i>
                                                </div>
                                            </div>
                                            <form class="comment-form">
                                                <div class="row g-5">
                                                    <div class="form-group col-lg-6">
                                                        <input type="text" name="comm-title" id="comm-title" placeholder="عنوان ..">
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <input type="text" name="comm-name" id="comm-name" placeholder="نام ..">
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <input type="email" name="comm-email" id="comm-email" placeholder="ایمیل ..">
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <textarea name="comm-message" id="comm-message" cols="30" rows="5" placeholder="متن نظر .."></textarea>
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <button type="submit" class="edu-btn submit-btn">ثبت نظر <i class="icon-west"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="course-sidebar-3 sidebar-top-position">
                        <div class="edu-course-widget widget-course-summery">
                            <div class="inner">
                                <div class="thumbnail">
                                    <img src="assets/images/course/course-46.jpg" alt="Courses">
                                    <a href="https://www.youtube.com/watch?v=PICj5tr9hcc" class="play-btn video-popup-activation"><i class="icon-18"></i></a>
                                </div>
                                <div class="content">
                                    <h4 class="widget-title">دوره شامل:</h4>
                                    <ul class="course-item">
                                        <li>
                                            <span class="label"><i class="icon-60"></i>قیمت:</span>
                                            <span class="value price">700,000</span>
                                        </li>
                                        <li>
                                            <span class="label"><i class="icon-62"></i>مربی:</span>
                                            <span class="value">ادوارد عباسی</span>
                                        </li>
                                        <li>
                                            <span class="label"><i class="icon-61"></i>مدت:</span>
                                            <span class="value">3 هفته</span>
                                        </li>
                                        <li>
                                            <span class="label"><i class="icon-63"></i>ثبت‌نام:</span>
                                            <span class="value">65 دانشجو</span>
                                        </li>
                                        <li>
                                            <span class="label"><i class="icon-64"></i>گواهینامه:</span>
                                            <span class="value">بله</span>
                                        </li>
                                    </ul>
                                    <div class="read-more-btn">
                                        <a href="#" class="edu-btn">الان شروع کنید <i class="icon-west"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}