{% extends "parent/base.html" %}
{% load static %}
{% block title %}بیزنس لب{% endblock  %}

{% block content %}

<div id="main-wrapper" class="main-wrapper">
    <div class="hero-banner hero-style-17 digital-marketing-banner" dir="rtl">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1 class="title title-1" data-sal-delay="100" data-sal="slide-up" data-sal-duration="1000">دیجیتال مارکتینگ:</h1>
                        <h1 class="title title-2" data-sal-delay="150" data-sal="slide-up" data-sal-duration="1000"> دوره‌های آینده</h1>
                        <div class="instructor-info" data-sal-delay="200" data-sal="slide-up" data-sal-duration="1000">
                            <div class="inner">
                                <div class="media">
                                    <div class="thumb">
                                        <img src="{% static "images/banner/author-2.png" %}" alt="Images">
                                    </div>
                                    <div class="content">
                                        <span>200+</span> <br> مربی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-btn" data-sal-delay="300" data-sal="slide-up" data-sal-duration="1000">
                            <a href="course-one.html" class="edu-btn btn-curved">همین الان شروع کنید <i class="icon-west"></i></a>
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img data-depth="1.5" src="{% static "images/others/shape-42.png" %}" alt="Shape">
                            </li>
                            <li class="shape-2 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img data-depth="-2.5" src="{% static "images/others/shape-65.png" %}" alt="Shape">
                            </li>
                            <li class="shape-3" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img src="{% static "images/others/shape-70.png" %}" alt="Shape">
                            </li>
                            <li class="shape-4 shape-light" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img src="{% static "images/others/shape-71.png" %}" alt="Shape">
                            </li>
                            <li class="shape-4 shape-dark" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img src="{% static "images/others/dark-shape-71.png" %}" alt="Shape">
                            </li>
                            <li class="shape-5 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img data-depth="1.5" src="{% static "images/others/shape-72.png" %}" alt="Shape">
                            </li>
                            <li class="shape-6" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img src="{% static "images/others/shape-67.png" %}" alt="Shape">
                            </li>
                            <li class="shape-7 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                                <img data-depth="-2.5" src="{% static "images/others/shape-16.png" %}" alt="Shape">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-8">
            <img src="{% static "images/banner/digital-marketing-shape-01.png" %}" alt="Shape">
        </div>
        <div class="shape-9">
            <span></span>
        </div>
        <div class="shape-10">
            <span></span>
        </div>
    </div>
    <!--=====================================-->
    <!--=	   Features Area Start	  =-->
    <!--=====================================-->
    <!-- Start دسته‌بندی‌ها Area  -->
    <div class="features-area-9">
        <div class="features-wrapper">
            <div class="feature-wrap">
                <div class="features-track">
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دیجیتال مارکتینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">استراتژی</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">سئو</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دسترسی به دوره</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">برندینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">مارکتینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">سوشیال مدیا</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دیجیتال مارکتینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">استراتژی</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">سئو</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دسترسی به دوره</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">برندینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">مارکتینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">سوشیال مدیا</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دیجیتال مارکتینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">استراتژی</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">سئو</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دسترسی به دوره</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">برندینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">مارکتینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">سوشیال مدیا</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دیجیتال مارکتینگ</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">استراتژی</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">سئو</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">دسترسی به دوره</div>
                    <img class="features-icon" src="{% static "images/others/shape-62.png" %}" alt="">
                    <div class="feature-text">برندینگ</div>
                </div>
            </div>
        </div>
    </div>
    <!-- End دسته‌بندی‌ها Area  -->
    <!--=====================================-->
    <!--=	   درباره ما Area Start	  	=-->
    <!--=====================================-->
    <div class="edu-about-area about-style-3 about-style-16">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                    <div class="about-content">
                        <div class="section-title section-left">
                            <span class="pre-title color-secondary">درباره من</span>
                            <h2 class="title">بیش از 10 سال در <br> <span class="color-secondary"> آموزش از راه دور</span> برای توسعه مهارت.</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <ul class="features-list">
                            <li>مربیان خبره</li>
                            <li>آموزش از راه دور آنلاین</li>
                            <li>دسترسی مادام العمر</li>
                        </ul>
                        <div class="about-btn sal-animate" data-sal-delay="400" data-sal="slide-up" data-sal-duration="1000">
                            <a href="#" class="edu-btn btn-curved">اطلاعات بیشتر <i class="icon-west"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-image-gallery">
                        <img class="main-img-1" data-sal-delay="100" data-sal="fade-in" data-sal-duration="800" src="{% static "images/about/about-30.webp" %}" alt="About Image">
                        <div class="main-img-wrapper">
                            <div class="main-img-inner" data-sal-delay="100" data-sal="fade-in" data-sal-duration="800">
                                <img class="main-img-2" src="{% static "images/about/about-31.webp" %}" alt="About Image">
                            </div>
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                <img data-depth="1.5" src="{% static "images/about/shape-13.png" %}" alt="Shape">
                            </li>
                            <li class="shape-2" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                <img class="rotateit" src="{% static "images/counterup/shape-02.png" %}" alt="Shape">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================-->
    <!--=	   Course Area Start	  		=-->
    <!--=====================================-->
    <!-- Start Course Area  -->
    <div class="digital-marketing-course edu-course-area gap-top-equal">
        <div class="container">
            <div class="section-title section-center sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                <span class="pre-title color-secondary">دوره‌های محبوب</span>
                <h2 class="title">برای شروع یک دوره انتخاب کنید</h2>
                <span class="shape-line"><i class="icon-19"></i></span>
            </div>
        </div>
        <div class="digital-marketing-course-activation swiper">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="edu-course course-style-5 course-style-19">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="course-details.html">
                                    <img src="{% static "images/course/course-89.jpg" %}" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                <div class="course-price">450,000</div>
                                <span class="pre-title">انگیزه</span>
                                <h6 class="title">
                                    <a href="course-details.html">ذهن خود را تسخیر کنید تا معانی توانمندی را به آن اختصاص دهید</a>
                                </h6>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                <ul class="course-meta">
                                    <li class="d-flex"><i class="icon-24 icon-course"></i>8 درس</li>
                                    <li class="d-flex"><i class="icon-25 icon-course"></i>20 دانشجو</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="edu-course course-style-5 course-style-19">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="course-details.html">
                                    <img src="{% static "images/course/course-87.jpg" %}" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                <div class="course-price">650,000</div>
                                <span class="pre-title">انگیزه</span>
                                <h6 class="title">
                                    <a href="course-details.html">چگونه یک بار برای همیشه به اهمال کاری پایان دهیم</a>
                                </h6>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                <ul class="course-meta">
                                    <li class="d-flex"><i class="icon-24 icon-course"></i>8 درس</li>
                                    <li class="d-flex"><i class="icon-25 icon-course"></i>20 دانشجو</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="edu-course course-style-5 course-style-19">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="course-details.html">
                                    <img src="{% static "images/course/course-86.jpg" %}" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                <div class="course-price">550,000</div>
                                <span class="pre-title">انگیزه</span>
                                <h6 class="title">
                                    <a href="course-details.html">دوره کامل ساخت عادات مثبت روزانه</a>
                                </h6>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                <ul class="course-meta">
                                    <li class="d-flex"><i class="icon-24 icon-course"></i>8 درس</li>
                                    <li class="d-flex"><i class="icon-25 icon-course"></i>20 دانشجو</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="edu-course course-style-5 course-style-19">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="course-details.html">
                                    <img src="{% static "images/course/course-88.jpg" %}" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                <div class="course-price">534,000</div>
                                <span class="pre-title">انگیزه</span>
                                <h6 class="title">
                                    <a href="course-details.html">برنامه نویسی جاوا برای توسعه دهندگان نرم افزار</a>
                                </h6>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                <ul class="course-meta">
                                    <li class="d-flex"><i class="icon-24 icon-course"></i>8 درس</li>
                                    <li class="d-flex"><i class="icon-25 icon-course"></i>20 دانشجو</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="edu-course course-style-5 course-style-19">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="course-details.html">
                                    <img src="{% static "images/course/course-90.jpg" %}" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                <div class="course-price">416,000</div>
                                <span class="pre-title">انگیزه</span>
                                <h6 class="title">
                                    <a href="course-details.html">ایجاد خودکنترلی و عادت های خوب</a>
                                </h6>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                <ul class="course-meta">
                                    <li class="d-flex"><i class="icon-24 icon-course"></i>8 درس</li>
                                    <li class="d-flex"><i class="icon-25 icon-course"></i>20 دانشجو</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="edu-course course-style-5 course-style-19">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="course-details.html">
                                    <img src="{% static "images/course/course-91.jpg" %}" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                <div class="course-price">317,000</div>
                                <span class="pre-title">انگیزه</span>
                                <h6 class="title">
                                    <a href="course-details.html">برنامه نویسی جاوا برای توسعه دهندگان نرم افزار</a>
                                </h6>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                <ul class="course-meta">
                                    <li class="d-flex"><i class="icon-24 icon-course"></i>8 درس</li>
                                    <li class="d-flex"><i class="icon-25 icon-course"></i>20 دانشجو</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="edu-course course-style-5 course-style-19">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="course-details.html">
                                    <img src="{% static "images/course/course-92.jpg" %}" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                <div class="course-price">317,000</div>
                                <span class="pre-title">انگیزه</span>
                                <h6 class="title">
                                    <a href="course-details.html">دوره کامل ساخت عادات مثبت روزانه</a>
                                </h6>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                <ul class="course-meta">
                                    <li class="d-flex"><i class="icon-24 icon-course"></i>8 درس</li>
                                    <li class="d-flex"><i class="icon-25 icon-course"></i>20 دانشجو</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-navigation d-ltr">
                <div class="swiper-btn-nxt">
                    <i class="icon-west"></i>
                </div>
                <div class="swiper-btn-prv">
                    <i class="icon-east"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- End Course Area -->
    <!--=====================================-->
    <!--=	   چرا انتخاب کنید Area Start	  		=-->
    <!--=====================================-->
    <!-- چرا انتخاب کنید Area  -->
    <div class="why-choose-area-5 gap-top-equal">
        <div class="container">
            <div class="row g-5 row--45">
                <div class="col-lg-6">
                    <div class="why-choose-gallery" data-sal-delay="150" data-sal="slide-right" data-sal-duration="800">
                        <div class="gallery-thumbnail">
                            <div class="thumbnail thumbnail-1">
                                <img src="{% static "images/others/why-choose-06.webp" %}" alt="چرا انتخاب کنید">
                            </div>
                            <div class="video-lesson">
                                <div class="inner">
                                    <div class="content">
                                        <h4 class="title"> <span class="number">20+</span> <br> درس ویدیویی</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                <img data-depth="2" src="{% static "images/others/shape-66.png" %}" alt="Shape Images">
                            </li>
                            <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                <img data-depth="-2" src="{% static "images/cta/shape-48.png" %}" alt="Shape Images">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="why-choose-content" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="section-title section-left">
                            <span class="pre-title pre-textsecondary">چرا انتخاب کنید</span>
                            <h2 class="title">چرا دیجیتال مارکتینگ را یاد بگیریم؟</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <ul class="features-list">
                            <li>برنامه انحصاری</li>
                            <li>آموزش آنلاین</li>
                            <li>مراقبت های فردی</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End چرا انتخاب کنید Area  -->
    <!--=====================================-->
    <!--=	   	FAQ Area Start	  	=-->
    <!--=====================================-->
    		<!-- Start Testimonial Area  -->
		<div class="testimonial-area-8 section-gap-equal">
			<div class="container edublink-animated-shape">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
							<h2 class="title">معرفی اساتید<br> بیزنس لب</h2>
							<span class="shape-line"><i class="icon-19"></i></span>
						</div>
					</div>
				</div>
				<div class="testimonial-activation swiper">
					<div class="swiper-wrapper">
                        {% for item in teacher %}
                        <div class="swiper-slide">
							<div class="testimonial-slide">
								<div class="content">
									<div class="author-info">
										<div class="thumb">
											<img src="{{item.image.url}}" alt="Testimonial">
										</div>
									</div>
									<p>{{item.description}}</p>
									<div class="rating-icon">
										<i class="icon-23"></i>
										<i class="icon-23"></i>
										<i class="icon-23"></i>
										<i class="icon-23"></i>
										<i class="icon-23"></i>
									</div>
									<div class="info">
										<h5 class="title">{{item.name}}</h5>
										<span class="subtitle">{{item.role}}</span>
									</div>
								</div>
							</div>
						</div>

                        {% endfor %}
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<ul class="shape-group">
				<li class="shape-3" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">
					<img class="d-block-shape-light" data-depth="2" src="{% static "images/others/map-shape-3.png" %}" alt="Shape">
					<img class="d-none-shape-dark" data-depth="2" src="{% static "images/others/dark-map-2-shape-3.png" %}" alt="Shape">
				</li>
			</ul>
		</div>
		<!-- End Testimonial Area  -->
<!-- -------------------- -->
    <div class="edu-faq-area faq-style-11 section-gap-equal">
        <div class="container">
            <div class="row g-5 row--45">
                <div class="col-lg-6">
                    <div class="edu-faq-content">
                        <div class="section-title section-left" data-sal-delay="50" data-sal="slide-up" data-sal-duration="1000">
                            <span class="pre-title color-secondary">سوالات متداول</span>
                            <h2 class="title">سوالات متداول</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
                        <div class="faq-accordion" id="faq-accordion" data-sal-delay="100" data-sal="slide-up" data-sal-duration="1000">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                            چگونه می توانم مستقیما با یک مدرسه تماس بگیرم؟
                                        </button>
                                    </h5>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                            چگونه مدرسه ای را پیدا کنم که می خواهم در آن تحصیل کنم؟
                                        </button>
                                    </h5>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                                            کجا باید در خارج از کشور تحصیل کنم؟
                                        </button>
                                    </h5>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="edu-faq-gallery">
                        <div class="faq-thumbnail thumbnail-1" data-sal-delay="50" data-sal="slide-left" data-sal-duration="1000">
                            <img src="{% static "images/faq/faq-09.webp" %}" alt="Faq Images">
                        </div>
                        <div class="support-question" data-sal-delay="100" data-sal="fade" data-sal-duration="1000">
                            <div class="inner">
                                <div class="content">
                                    <h4 class="title">سوال بپرسید</h4>
                                </div>
                            </div>
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                <img data-depth="1.5" src="{% static "images/faq/shape-40.png" %}" alt="Shape Images">
                            </li>
                            <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                <img data-depth="-1.5" src="{% static "images/faq/shape-39.png" %}" alt="Shape Images">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================-->
    <!--=	   Testimonial Area Start	  =-->
    <!--=====================================-->
    <!-- Start Testimonial Area  -->
    {% comment %} <div class="testimonial-area-17 section-gap-equal digital-marketing-testimonial edublink-animated-shape">
        <div class="container edublink-animated-shape">
            <div class="testimonial-heading-area">
                <div class="section-title section-center" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                    <span class="pre-title">نظرات</span>
                    <h2 class="title">آنچه دانش‌آموزان درباره ما می‌گویند</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
            </div>
            <div class="digital-marketing-activator swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-grid">
                            <div class="content">
                                <div class="rating-icon">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <h5 class="title">هیلی بنت</h5>
                                <span class="subtitle">طراح</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-grid">
                            <div class="content">
                                <div class="rating-icon">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <h5 class="title">توماس هان</h5>
                                <span class="subtitle">دانشجو</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-grid">
                            <div class="content">
                                <div class="rating-icon">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <h5 class="title">آمبر پیج</h5>
                                <span class="subtitle">توسعه‌دهنده</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-grid">
                            <div class="content">
                                <div class="rating-icon">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <h5 class="title">سارا لین</h5>
                                <span class="subtitle">توسعه‌دهنده</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper digital-marketing-testimonial-thumbs photo-testimonial-thumb-wrap">
                <div class="swiper-wrapper">
                    <div class="nav-thumb swiper-slide">
                        <div class="clint-thumb">
                            <img src="{% static "images/testimonial/testimonial-11.jpg" %}" alt="Testimonial" loading="">
                        </div>
                    </div>
                    <div class="nav-thumb swiper-slide">
                        <div class="clint-thumb">
                            <img src="{% static "images/testimonial/testimonial-09.png" %}" alt="Testimonial" loading="">
                        </div>
                    </div>
                    <div class="nav-thumb swiper-slide">
                        <div class="clint-thumb">
                            <img src="{% static "images/testimonial/testimonial-10.png" %}" alt="Testimonial" loading="">
                        </div>
                    </div>
                    <div class="nav-thumb swiper-slide">
                        <div class="clint-thumb">
                            <img src="{% static "images/testimonial/testimonial-12.jpg" %}" alt="Testimonial" loading="">
                        </div>
                    </div>
                </div>
            </div>

            <ul class="shape-group">
                <li class="shape-1 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                    <img data-depth="2" src="{% static "images/others/shape-68.png" %}" alt="Shape">
                </li>
                <li class="shape-2 scene" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">
                    <img data-depth="-2" src="{% static "images/others/shape-67.png" %}" alt="Shape">
                </li>
                <li class="shape-3 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                    <img data-depth="2" src="{% static "images/others/shape-68.png" %}" alt="Shape">
                </li>
                <li class="shape-4 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
                    <img data-depth="-2" src="{% static "images/others/shape-69.png" %}" alt="Shape">
                </li>
            </ul>
        </div>
    </div> {% endcomment %}
    <!-- End Testimonial Area  -->

    <!--=====================================-->
    <!--=	   	CTA Area Start	  	=-->
    <!--=====================================-->
    <!-- Start Ad Banner Area  -->
    <div class="ditigtal-marketing-wrapper edu-cta-banner-area cta-banner-7">
        <div class="container">
            <div class="edu-cta-banner">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                            <h2 class="title"><span class="color-textExtra5 ">آماده</span> برای شروع <img src="assets/images/others/shape-62.png" alt=""> <br>
<span class="color-secondary">آزمایشی رایگان</span> امروز شما</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="btn-group" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                            <a href="contact-us.html" class="edu-btn btn-curved">همین الان شروع کنید <i class="icon-west"></i></a>
                            <a href="contact-us.html" class="edu-btn btn-border-curved">تماس رایگان <i class="icon-west"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="shape-group">
                    <li class="shape-01 scene">
                        <img data-depth="2" src="{% static "images/others/shape-64.png" %}" alt="shape">
                    </li>
                    <li class="shape-02 scene">
                        <img data-depth="-2" src="{% static "images/others/shape-65.png" %}" alt="shape">
                    </li>
                    <li class="shape-03 scene">
                        <img data-depth="2" src="{% static "images/others/shape-63.png" %}" alt="shape">
                    </li>
                    <li class="shape-04 scene">
                        <img data-depth="-2" src="{% static "images/others/shape-66.png" %}" alt="shape">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Ad Banner Area  -->
    <!--=====================================-->
    <!--=		  Blog Area Start		  =-->
    <!--=====================================-->
    <!-- Start Blog Area  -->
    {% comment %} <div class="edu-blog-area blog-area-1 edu-section-gap digital-marketing-blog">
        <div class="container">
            <div class="section-title section-center" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                <span class="pre-title color-secondary">آخرین مقالات</span>
                <h2 class="title">با بلینک اخبار دریافت کنید</h2>
                <span class="shape-line"><i class="icon-19"></i></span>
            </div>
            <div class="row g-5">
                <!-- Start Blog Grid  -->
                <div class="col-lg-4 col-md-6 col-12" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                    <div class="edu-blog blog-style-1 digital-marketing-sytle">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="blog-details.html">
                                    <img src="{% static "images/blog/blog-01.jpg" %}" alt="Blog Images">
                                </a>
                            </div>
                            <div class="content">
                                <div class="read-more-btn">
                                    <a class="btn-icon-squre" href="blog-details.html"><i class="icon-west"></i></a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="d-flex"><i class="icon-27"></i>23 شهریور</li>
                                    <li class="d-flex"><i class="icon-28"></i>9 نظر</li>
                                </ul>
                                <h5 class="title"><a href="blog-details.html">وبلاگ نویس بهتری شوید: برنامه ریزی محتوا</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Grid  -->
                <!-- Start Blog Grid  -->
                <div class="col-lg-4 col-md-6 col-12" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                    <div class="edu-blog blog-style-1 digital-marketing-sytle">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="blog-details.html">
                                    <img src="{% static "images/blog/blog-02.jpg" %}" alt="Blog Images">
                                </a>
                            </div>
                            <div class="content">
                                <div class="read-more-btn">
                                    <a class="btn-icon-squre" href="blog-details.html"><i class="icon-west"></i></a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="d-flex"><i class="icon-27"></i>23 شهریور</li>
                                    <li class="d-flex"><i class="icon-28"></i>9 نظر</li>
                                </ul>
                                <h5 class="title"><a href="blog-details.html">چگونه تمرینات را در صبح تازه نگه داریم</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Grid  -->
                <!-- Start Blog Grid  -->
                <div class="col-lg-4 col-md-6 col-12" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">
                    <div class="edu-blog blog-style-1 digital-marketing-sytle">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="blog-details.html">
                                    <img src="{% static "images/blog/blog-03.jpg" %}" alt="Blog Images">
                                </a>
                            </div>
                            <div class="content">
                                <div class="read-more-btn">
                                    <a class="btn-icon-squre" href="blog-details.html"><i class="icon-west"></i></a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="d-flex"><i class="icon-27"></i>23 شهریور</li>
                                    <li class="d-flex"><i class="icon-28"></i>9 نظر</li>
                                </ul>
                                <h5 class="title"><a href="blog-details.html">وبلاگ نویس بهتری شوید: برنامه ریزی محتوا</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Grid  -->
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1 scene">
                <img data-depth="-1.4" src="{% static "images/about/shape-02.png" %}" alt="Shape">
            </li>
            <li class="shape-2 scene">
                <span data-depth="2.5"></span>
            </li>
            <li class="shape-3 scene">
                <img data-depth="-2.3" src="{% static "images/counterup/shape-05.png" %}" alt="Shape">
            </li>
        </ul>
    </div> {% endcomment %}
    <!-- End Blog Area  -->
    <!--=====================================-->
    <!--=	   	Brand Area Start	  	=-->
    <!--=====================================-->
    <!-- Start Brand Area  --> 
    <!-- End Brand Area  -->
</div>


{% endblock content %}