{% load static %}

		<!--=====================================-->
		<!--=		Header Area Start	   	=-->
		<!--=====================================-->
		<header class="edu-header header-style-7 no-topbar">
			<div id="edu-sticky-placeholder"></div>
			<div class="header-mainmenu">
				<div class="container-fluid">
					<div class="header-navbar">
						<div class="header-brand">
							<div class="logo">
								<a href="/">
									<!-- <img class="logo-light" src="{% static "images/logo/logo-dark.png" %}" alt="Corporate Logo">
									<img class="logo-dark" src="{% static "images/logo/logo-white.png" %}" alt="Corporate Logo"> -->
								</a>
							</div>
						</div>
						<div class="header-mainnav">
							<nav class="mainmenu-nav">
								<ul class="mainmenu">
									<li class=""><a href="/">خانه</a>
																			</li>
									<li class=""><a href="{% url 'Courses' %}">دوره‌ها</a>
									</li>
									<li class=""><a href="#">تماس</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="header-right">
							<ul class="header-action">
								<li class="search-bar">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="جستجو ..">
										<button class="search-btn" type="button"><i class="icon-2"></i></button>
									</div>
								</li>
								<li class="icon search-icon">
									<a href="javascript:void(0)" class="search-trigger">
										<i class="icon-2"></i>
									</a>
								</li>
								<li class="header-btn">
									<a href="contact-us.html" class="edu-btn btn-medium btn-curved">درخواست مشاوره رایگان<i class="icon-west"></i></a>
								</li>
								<li class="mobile-menu-bar d-block d-xl-none">
									<button class="hamberger-button">
										<i class="icon-54"></i>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-mobile-menu">
				<div class="inner">
					<div class="header-top">
						<div class="logo">
							<a href="index.html">
								<img class="logo-light" src="{% static "images/logo/logo-dark.png" %}" alt="Corporate Logo">
								<img class="logo-dark" src="{% static "images/logo/logo-white.png" %}" alt="Corporate Logo">
							</a>
						</div>
						<div class="close-menu">
							<button class="close-button">
								<i class="icon-73"></i>
							</button>
						</div>
					</div>
					<ul class="mainmenu">
						<li class="has-droupdown"><a href="#">خانه</a>
							<ul class="mega-menu mega-menu-one">
								<li>
									<ul class="submenu mega-sub-menu mega-sub-menu-01">
										<li><a href="index.html">آموزش بلینک <span class="badge-1">داغ</span></a></li>
										<li><a href="index-distant-learning.html">یادگیری از راه دور</a></li>
										<li><a href="index-university.html">دانشگاه</a></li>
										<li><a href="index-online-academy.html">آکادمی آنلاین <span class="badge-1">داغ</span></a></li>
										<li><a href="index-modern-schooling.html">مدرسه مدرن</a></li>
										<li><a href="index-kitchen.html">مربی آشپزخانه</a></li>
										<li><a href="index-yoga.html">مربی یوگا</a></li>
										<li><a href="index-kindergarten.html">مهد کودک</a></li>
										<li><a href="index-health-coach.html">مربی سلامت</a></li>
										<li><a href="index-language-academy.html">آکادمی زبان</a></li>
										<li><a href="index-remote-training.html">آموزش از راه دور</a></li>
										<li><a href="index-photography.html">عکاسی</a></li>
									</ul>
								</li>
								<li>
									<ul class="submenu mega-sub-menu mega-sub-menu-01">
										<li><a href="index-business-coach.html">مربی کسب و کار <span class="badge">جدید</span></a></li>
										<li><a href="index-motivation.html">انگیزه <span class="badge">جدید</span></a></li>
										<li><a href="index-programming.html">برنامه نويسي <span class="badge">جدید</span></a></li>
										<li><a href="index-online-art.html">هنر آنلاین <span class="badge">جدید</span></a></li>
										<li><a href="index-digital-marketing.html">بازاریابی دیجیتال <span class="badge">جدید</span></a></li>
										<li><a href="index-sales-coach.html">مربی فروش <span class="badge">جدید</span></a></li>
										<li><a href="index-quran-learning.html">قرآن آموزی <span class="badge">جدید</span></a></li>
										<li><a href="index-gym-tranning.html">تمرین بدنسازی <span class="badge">جدید</span></a></li>
													<li><a href="index-dark.html">نسخه تیره</a></li>
										<li><a href="index-landing.html">دموها</a></li>
									</ul>
								</li>
								<li>
									<ul class="submenu mega-sub-menu-01">
										<li>
											<a href="https://1.envato.market/5bQ022">
												<img src="{% static "images/others/mega-menu-image.webp" %}" alt="تصویر تبلیغاتی" alt="تصویر تبلیغاتی">
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="has-droupdown"><a href="#">صفحات</a>
							<ul class="mega-menu">
								<li>
									<h6 class="menu-title">صفحات داخلی</h6>
									<ul class="submenu mega-sub-menu-01">
										<li><a href="about-one.html">درباره ما 1</a></li>
										<li><a href="about-two.html">درباره ما 2</a></li>
										<li><a href="about-three.html">درباره ما 3</a></li>
										<li><a href="team-one.html">مربی 1</a></li>
										<li><a href="team-two.html">مربی 2</a></li>
										<li><a href="team-three.html">مربی 3</a></li>
										<li><a href="team-details.html">پروفایل مربی</a></li>
										<li><a href="faq.html">سوالات متداول</a></li>
										<li><a href="404.html">خطای 404</a></li>
										<li><a href="coming-soon.html">بزودی</a></li>
									</ul>
								</li>
								<li>
									<h6 class="menu-title">صفحات داخلی</h6>
									<ul class="submenu mega-sub-menu-01">
										<li><a href="gallery-grid.html">گالری Grid</a></li>
										<li><a href="gallery-masonry.html">گالری Masonry</a></li>
										<li><a href="event-grid.html">رویداد Grid</a></li>
										<li><a href="event-list.html">رویداد List</a></li>
										<li><a href="event-details.html">جزئیات رویداد</a></li>
										<li><a href="pricing-table.html">جدول قیمت</a></li>
										<li><a href="purchase-guide.html">راهنمای پرداخت</a></li>
										<li><a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
										<li><a href="terms-condition.html">شرایط و قوانین</a></li>
										<li><a href="my-account.html">ورود</a></li>
									</ul>
								</li>
								<li>
									<h6 class="menu-title">صفحات فروشگاه</h6>
									<ul class="submenu mega-sub-menu-01">
										<li><a href="shop.html">فروشگاه</a></li>
										<li><a href="product-details.html">جزئیات محصول</a></li>
										<li><a href="cart.html">سبد</a></li>
										<li><a href="wishlist.html">لیست علاقه مندیها</a></li>
										<li><a href="checkout.html">تسویه حساب</a></li>
									</ul>
								</li>
							</ul>
						</li>

						<li class="has-droupdown"><a href="#">دوره‌ها</a>
							<ul class="submenu">
								<li><a href="course-one.html">دوره 1</a></li>
								<li><a href="course-two.html">دوره 2</a></li>
								<li><a href="course-three.html">دوره 3</a></li>
								<li><a href="course-four.html">دوره 4</a></li>
								<li><a href="course-five.html">دوره 5</a></li>
								<li><a href="course-details.html">جزئیات دوره 1</a></li>
								<li><a href="course-details-2.html">جزئیات دوره 2</a></li>
								<li><a href="course-details-3.html">جزئیات دوره 3</a></li>
								<li><a href="course-details-4.html">جزئیات دوره 4</a></li>
								<li><a href="course-details-5.html">جزئیات دوره 5</a></li>
								<li><a href="course-details-6.html">جزئیات دوره 6</a></li>
							</ul>
						</li>
						<li class="has-droupdown"><a href="#">تماس</a>
							<ul class="submenu">
								<li><a href="contact-us.html">تماس با ما</a></li>
								<li><a href="contact-me.html">تماس با من</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- Start Search Popup  -->
			<div class="edu-search-popup">
				<div class="content-wrap">
					<div class="site-logo">
						<img class="logo-light" src="{% static "images/logo/logo-dark.png" %}" alt="Corporate Logo">
						<img class="logo-dark" src="{% static "images/logo/logo-white.png" %}" alt="Corporate Logo">
					</div>
					<div class="close-button">
						<button class="close-trigger"><i class="icon-73"></i></button>
					</div>
					<div class="inner">
						<form class="search-form" action="#">
							<input type="text" class="edublink-search-popup-field" placeholder="جستجو ..">
							<button class="submit-button"><i class="icon-2"></i></button>
						</form>
					</div>
				</div>
			</div>
			<!-- End Search Popup  -->
		</header>
		<!--=====================================-->
		<!--=	   Hero Banner Area Start	  =-->
		<!--=====================================-->